/* CSS Document */

/*************************************************************
     Color Scheme                    Font Scheme
#778A8C - Grey            font-family: 'Ubuntu', sans-serif; 
#11181E - Black           font-family: 'Quattrocento', serif;
#E4F2EA - White           font-family: 'Bowlby One SC', cursive;
#734F2F - Dark Brown
#A68160 - Light Brown
*************************************************************/
body {
    padding: 0;
    margin: 0;
    background-color: #E4F2EA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

/* Zeroing out spacing *********************/
h1, h2, h3, h4, h5, h6, ul, li, a, blockquote {
    padding: 0;
    margin: 0;
    font-family: 'Bowlby One SC', cursive; 
}

/****** Header Section ********************/
header {
    background-color: #922B21;
   min-height: 250px;
     text-align:center;
	padding: 25px 50px 75px;

}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 10em;
    margin-top: -.2em;
    margin-bottom: -.6em;
     color:black;
     text-align:center;
	padding: 25px 50px 75px;
	
}

header h2 {
    margin: 0;
    font-size: 3em;
    color: red;
    text-align: center;
    text-shadow: /*Adds FULL Drop Shadow around text */
        3px 3px 5px #11181E,
        -2px -2px 5px #11181E,
        2px -2px 5px #11181E,
        -2px 2px 5px #11181E,
        2px 2px 5px #11181E;
		padding: 25px 50px 75px;
}

.firstE {
    color: #A68160;
}

.letterG {
    color: #E4F2EA;
}

.lastE {
    color: #A68160;
}

.hNav {
  text-align: center;
	padding: .8em;
}

.hNav ul {
    display: block;
    padding-left: 150px;
}

.hNav ul li {
    display: inline-block;
    list-style: none;
}

.hNav a {
    color:#E4F2EA;
    font-size: 1.7em;
    padding: 0 1.3em;
    text-decoration: none;
}

.hNav a:hover {
    color: #734F2F;
    text-decoration: underline;
}


/****** Main Section **********************/
main {
    width: 60%;
    margin: 0 auto;
    /*border: 2px solid black;*/
}

.puppy {
    border-radius: 40px 0 40px 0;
}
/****** Footer Section ********************/
footer {
    background-color: #11181E;
    height: 150px;
}

footer nav ul {
    display: block;
    float: right;
}

footer nav ul li {
    display: inline-block;
    list-style: none;
    padding: 1em;
}

footer nav ul li a {
    color: #E4F2EA;
    text-decoration: none;
    font-size: 1.5em;
}
    
footer nav ul li a:hover {
    color: #A68160;
    text-decoration: underline;
}

footer p {
    clear: right;
    float: right;
    color: #E4F2EA;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    margin-right: 50px;
}
    
#container{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
	font-family: 'Crimson Pro', serif;
    background-color: #E4F2EA;
    text-decoration-color: black;
}

#container img{
	float: left;
	margin-right: 2%;
	border: 20px double;
	border-radius: 10px;
	text-align: right;

}



/*Style rule for form element */
	form {
		background-color: #FFFFFF;
		padding: 1em;
	}
	
	/* Style rule for paragraph within form element */
	form p {
		color: #000000;
	}
.frame{
color:black;
box-sizing: border-box;

}
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: red;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background:red;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#dog{
background-image: url(https://i.guim.co.uk/img/media/2df4ac79cb6f21e0bd800ba0a9ef1a19e898580b/164_354_1207_725/master/1207.jpg?width=620&quality=45&dpr=2&s=none);
  background-repeat: no-repeat;
  background-size: cover;
	display: block;
    width: 100%;
}


	



